header {
  color: var(--primary-color);
}

ul {
  li::marker {
    color: var(--quartary-color);
  }
}

a {
  color: var(--quartary-color);
  font-size: larger;

  text-decoration: var(--primary-color) underline solid;
  text-decoration-thickness: 4px;

  &:hover {
    text-decoration-color: var(--quartary-color);
  }
}
